<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{EEE MMM dd hh:mm:ss zzz yyyy} [%t] %-5p %c{1}:%L - %msg%n" />
		</Console>
 
		<RollingFile name="RollingFile" filename="log/kurento-repo.log"
			filepattern="${logPath}/kurento-repo.log">
			<PatternLayout pattern="%d{EEE MMM dd hh:mm:ss zzz yyyy} [%t] %-5p %c{1}:%L - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
 
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>